
<div class="row" ng-app="flipApp" ng-controller="loginController">

    <form ng-submit="submit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" ng-model="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" ng-model="password" placeholder="Password">
        </div>
        <button type="submit" id="submit" class="btn btn-default">Submit</button>
    </form>
</div>
